.el-breadcrumb__inner {
    color: var(--color-blue) !important;
}

.el-breadcrumb__inner.is-link {
    font-weight: 800 !important;
    letter-spacing: 1.2px;
}

.el-table thead .cell {
    color: var(--color-red) !important;
}

.el-table tbody .cell {
    color: var(--color-blue) !important;
}

.el-table .el-input {
    width: calc(100% - 50px) !important;
}

.el-table .el-input__inner {
    color: var(--color-blue);
    font-weight: 500;
}

.el-table .ascending .sort-caret.ascending {
    border-bottom-color: var(--color-red) !important;
}

.el-table .descending .sort-caret.descending {
    border-top-color: var(--color-red) !important;
}

.el-table .el-input__wrapper,
.el-table .el-input__wrapper:hover,
.el-table .el-input__wrapper .is-focus {
    box-shadow: 0 0 0 1px var(--color-blue,var(--color-blue)) inset;
}

.el-button#btn-add,
.el-button#btn-delete {
    padding: 10px;
    color: var(--color-red);
    border-color: var(--color-red);
    margin-left: 12px;
}

.el-button#btn-add:hover,
.el-button#btn-delete:hover{
    background-color: var(--color-red);
    color: var(--color-cream);
}

.el-button#btn-info,
.el-button#btn-edit,
.el-button#btn-close {
    padding: 10px;
    color: var(--color-blue);
    border-color: var(--color-blue);
    
} 

.el-button#btn-info:hover,
.el-button#btn-edit:hover,
.el-button#btn-close:hover {
    background-color: var(--color-blue);
    color: var(--color-cream);
}

.el-button#btn-save {
    padding: 10px 50px;
    color: var(--color-red);
    border-color: var(--color-red);
}

.el-button#btn-save:hover {
    background-color: var(--color-red);
    color: var(--color-cream);
}

.modal .el-input__wrapper,
.modal .el-input__wrapper:hover,
.model .el-input__wrapper .is-focus {
    box-shadow: 0 0 0 1px var(--color-blue,var(--color-blue)) inset;
}